<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lyyjy.yfyb.bionicfish"
          android:installLocation="preferExternal"
          tools:targetApi="froyo">

    <!-- 用户权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 使用蓝牙ble -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"
        tools:targetApi="eclair"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".ContextUtil"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="donut">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:label="搜索设备"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".activity.SearchWifiActivity"
            android:label="搜索设备"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.helper_activity.HelpActivity"
            android:label="帮助"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".activity.ProgramActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            tools:ignore="InnerclassSeparator"/>
        <activity
            android:name=".activity.SimulationActivity"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".activity.UiProgramActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".activity.HelpDocumentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/HelpTheme">
        </activity>
    </application>

</manifest>